---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import MDLayout from '../../layouts/MD.astro'
import { Image } from "astro:assets";
import MDContent from "../../components/MDContent.astro";
// 1. 为每个集合条目生成一个新路径
export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { 
            id: entry.id,
            slug: entry.slug,
            title: entry.data.title,
            desc: entry.data.description,
         },
        props: { entry },
    }));
}
// 2. 当渲染的时候，你可以直接从属性中得到条目
const { entry } = Astro.props;
const { id, title, desc } = Astro.params;
const { Content } = await entry.render();
const allPosts = await getCollection("blog");
---

<Layout pageTitle={title} desc={desc}>
    <div class="m-5">
        <MDLayout frontmatter={entry.data}>
            <MDContent class="rounded-xl">
                <Content />
            </MDContent>
        </MDLayout>
 
        <!-- <div class="m-2 flex justify-evenly">
            <div >
                <Image src="https://img.icons8.com/color/48/double-left--v2.png" width={40} height={40} alt=""/>
            </div>
            <div>
                <Image src="https://img.icons8.com/color/48/double-right--v1.png" width={40} height={40} alt=""/>
            </div>
        </div> -->
        <div class="bg-slate-200 shadow-xl p-5 mt-5 rounded-xl">
            <span class="text-xl mx-16">你可能也喜欢：</span>
            <div class="grid mx-16">
                {
                    allPosts
                        .filter((item) => item.id !== id)
                        .map((p) => (
                            <a
                                class="hover:bg-blue-200"
                                href={`/blog${p.slug}`}
                            >
                                {p.data.title}
                            </a>
                        ))
                }
            </div>
        </div>
    </div>
</Layout>
