---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import MDLayout from '../../layouts/MD.astro'
import { Image } from "astro:assets";
import MDContent from "../../components/MDContent.astro";
// 1. 为每个集合条目生成一个新路径
export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { 
            slug: entry.slug,
         },
        props: { entry },
    }));
}


// 2. 当渲染的时候，你可以直接从属性中得到条目
const { entry } = Astro.props;
const { slug } = Astro.params;
const { Content } = await entry.render();
const allPosts = await getCollection("blog");

const blogEntries = await getCollection("blog");
---

<Layout pageTitle={entry.data.title} desc={entry.data.description}>
    <div class="m-5">
        <MDLayout frontmatter={entry.data}>
            <MDContent class="rounded-xl">
                <Content />
            </MDContent>
        </MDLayout>
 
        <div class="bg-slate-200 shadow-xl p-5 mt-5 rounded-xl">
            <span class="text-xl mx-2">你可能也喜欢：</span>
            <div class="grid mx-2">
                {
                    allPosts
                        .filter((item) => item.slug !== `/${slug}`)
                        .map((p) => (
                            <a
                            class="rounded my-2 p-2 hover:bg-blue-200 transition duration-300 ease-in-out shadow-sm hover:shadow-md underline text-blue-600 text-xl"
                                href={`/blog${p.slug}`}
                            >
                                {p.data.title}
                            </a>
                        ))
                }
            </div>
        </div>
    </div>
</Layout>
