---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import MDContent from "../../components/MDContent.astro";
import MDLayout from "../../layouts/MD.astro";
// 1. 为每个集合条目生成一个新路径
export async function getStaticPaths() {
  const blogEntries = await getCollection("wifi");
  return blogEntries.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}
// 2. 当渲染的时候，你可以直接从属性中得到条目
const { entry } = Astro.props;
const {
  entry: {
    data: { title, description },
  },
} = Astro.props;
const { slug } = Astro.params;

const { Content } = await entry.render();
const allPosts = await getCollection("wifi");
---

<Layout pageTitle={title} desc={description}>
  <div class="m-5">
    <MDLayout frontmatter={entry.data}>
      <MDContent class="rounded-xl">
        <Content />
      </MDContent>
    </MDLayout>

    <div class="bg-slate-200 shadow-xl p-5 mt-5 rounded-xl">
      <h3 class="text-xl font-semibold my-4 md:mx-16">你可能也喜欢：</h3>
      <ul class="list-none md:mx-16">
        {
          allPosts
            .filter((item) => item.slug !== `/${slug}`)
            .map((p) => (
              <li class="mb-3">
                <a
                class="rounded my-2 p-2 hover:bg-blue-200 transition duration-300 ease-in-out shadow-sm hover:shadow-md underline text-blue-600 text-xl"
                  href={`/wifi/${p.slug}`}
                >
                  {p.data.title}
                </a>
              </li>
            ))
        }
      </ul>
    </div>
  </div>
</Layout>
