---
import { Image } from "astro:assets";
import Layout from "../layouts/HomeLayout.astro";
import flowcarddragon from "../image/product/dragon.jpg";
import flowcardlt from "../image/product/flowcard.jpg";
import flowcardgd from "../image/product/gd.jpg";
import yl from "../image/product/yl.jpg";
import neibu from "../image/product/neibu.jpg";
import ai from "../image/index/ai.svg";
import use from "../image/index/use.svg";
---

<Layout>
	<main>
		<section>
			<!-- Hero top -->
			<div class="bg-[#e9e9ec] grid px-20 lg:flex lg:px-60">
				<!-- Container -->
				<Image src={ai} alt="" class="mt-10" width={500} height={300} />
				<div class="h-[60vh] my-30 md:px-10 md:my-40">
					<!-- Title -->
					<h1
						class="mb-6 text-5xl font-bold w-[110%] md:text-6xl lg:mb-10"
					>
						万物互联 畅想未来
					</h1>
					<!-- Buttons -->
					<div class="flex items-stretch">
						<a
							href="http://tc.liuketh.cn"
							class="mr-6 rounded-md bg-black px-8 py-4 text-center font-semibold text-white lg:mr-8"
						>
							免费领卡</a
						>
						<a
							href="https://work.weixin.qq.com/gm/2f7011219a43a467a4e178a259797647"
							class="mr-6 rounded-md bg-blue-700 px-8 py-4 text-center font-semibold text-white lg:mr-8"
						>
							<p>🗨️ 联系我们</p>
						</a>
					</div>
				</div>
			</div>
			<!-- Hero bottom -->
			<section class="mx-auto max-w-7xl px-5 py-12 md:px-10 md:py-16 lg:py-20">
				<div class="relative flex flex-col gap-6 lg:flex-row lg:justify-between">
				  <article class="max-w-xl p-10">
					<!-- 使用article标签可以提升SEO的语义化 -->
					<h3 class="text-2xl font-bold md:text-3xl">介绍</h3>
					<!-- 使用更适合的标签替换div，增强语义化 -->
					<hr class="my-6 border-t-2 border-black w-1/3" />
					<!-- 优化段落字符 -->
					<p class="text-xl text-gray-600">
					  提供IOT全面服务，覆盖通信、物联网和流量卡领域。我们提供手机卡办理、靓号定制服务（如155555、1555522、1555533和1314520），全国手机话费九折充值，内部优惠套餐卡办理。此外，我们还提供随身WiFi、5G路由器云路由和智能监控等物联网服务。
					</p>
				  </article>
				  <figure class="mt-12 ml-auto lg:ml-0 lg:absolute lg:right-0 lg:bottom-0 lg:h-auto lg:max-w-sm">
					<Image
					  src={use}
					  width={480} 
					  height={480} 
					  alt="流量卡"
					  class="w-full h-auto"
					/>
				  </figure>
				</div>
			  </section>
			  
		</section>

		<section>
			<h2 class="text-center text-3xl font-bold my-10 py-5 md:text-5xl">
				合作青睐伙伴
			</h2>
			<div
				class="w-9/12 mx-auto rounded-2xl columns-2 gap-8 md:columns-4"
			>
				<Image
					src="https://img2.baidu.com/it/u=518827103,2960247070&fm=253&fmt=auto&app=120&f=JPEG?w=570&h=356"
					width={200}
					height={100}
					alt="中国移动"
				/>
				<Image
					src="https://img1.baidu.com/it/u=1833419566,3132580830&fm=253&fmt=auto&app=138&f=JPEG?w=459&h=229"
					width={200}
					height={100}
					alt="中国联通"
				/>
				<Image
					src="https://img1.baidu.com/it/u=4120633148,3237138659&fm=253&fmt=auto&app=138&f=JPEG?w=628&h=353"
					width={200}
					height={100}
					alt="中国电信"
				/>
				<Image
					src="https://img1.baidu.com/it/u=3645122045,1633369292&fm=253&fmt=auto&app=138&f=JPEG?w=630&h=444"
					width={200}
					height={100}
					alt="中国广电"
				/>
				<Image
					src="https://0.rc.xiniu.com/g2/M00/F7/38/CgAGfFvr1B-AOzBCAATyidw06qU682.png"
					width={260}
					height={200}
					alt="银联支付"
				/>
				<Image
					src="https://img2.baidu.com/it/u=4124798652,286971603&fm=253&fmt=auto&app=138&f=JPEG?w=654&h=354"
					width={240}
					height={200}
					alt="云闪付"
				/>
				<Image
					src="https://img1.baidu.com/it/u=3101951965,225045682&fm=253&fmt=auto&app=120&f=JPEG?w=950&h=475"
					width={280}
					height={200}
					alt="支付宝支付"
				/>
				<Image
					src="https://td.cdn-go.cn/enterprise_payment/v0.0.9/logo.png"
					width={220}
					height={300}
					alt="微信支付"
					class="ml-6 mt-12 h-30 sm:mt-6 sm:ml-8"
				/>
			</div>
		</section>

		<section class="grid gap-4">
			<div class="mx-auto my-8 max-w-3xl text-center md:mb-12">
				<!-- Heading -->
				<h2 class="text-3xl font-bold md:text-5xl">产品 &amp; 价格</h2>
				<!-- Subheading -->
				<p class="mt-4 text-sm text-[#636262] sm:text-base">
					我们产品种类丰富，致力于为每一为客户提供长期服务
				</p>
			</div>
			<div
				class="hidden md:block md:columns-3 md:w-9/12 md:rounded-[92px] md:mx-auto md:shadow-xl md:p-6 md:py-12"
			>
				<Image
					src={flowcarddragon}
					alt=`${new Date().getFullYear()}移动流量卡`
					width={400}
					height={200}
					class="rounded-br-3xl rounded-tl-3xl mx-auto"
				/>
				<Image
					src={flowcardlt}
					alt=`${new Date().getFullYear()}联通无限流量卡`
					width={400}
					height={200}
					class="rounded-br-3xl rounded-tl-3xl mx-auto"
				/>
				<Image
					src={flowcardgd}
					alt=`${new Date().getFullYear()}广电流量卡`
					width={400}
					height={200}
					class="rounded-br-3xl rounded-tl-3xl mx-auto"
				/>
			</div>

			<div
				class="columns-1 w-9/12 rounded-[92px] mx-auto shadow-xl p-6 sm:py-12 lg:columns-2"
			>
				<div>
					<Image
						src={flowcarddragon}
						alt=""
						width={400}
						height={200}
						class="rounded-br-3xl rounded-tl-3xl mx-auto"
					/>
				</div>

				<div class="relative rounded-2xl group h-96 overflow-hidden">
					<div
						class="opacity-150 absolute min-h-80 blur duration-1000 [transform:rotate3d(1_,-1,_1,_30deg)] group-hover:w-screen group-hover:bg-cyan-200 group-hover:blur-none group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]"
					>
					</div>
					<div
						class="absolute flex min-h-80 flex-col gap-4 p-12 duration-1000 [transform:rotate3d(1_,-1,_1,_30deg)] group-hover:w-96 group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]"
					>
						<span class="text-2xl font-extrabold text-red-800"
							>手机靓号</span
						>
						<div class="text-base font-semibold leading-7">
							<p class="text-gray-900">老板号码</p>
							<p class="text-gray-900">情侣号码</p>
							<p class="text-gray-900">豹子号码</p>
							<p class="text-gray-900">运营商覆盖全面</p>
							<div class="divide-x-2 divide-y divide-dashed">
								<div></div>
							</div>
						</div>
					</div>
					<div class="absolute top-80">
						<a href="http://lh.liuketh.cn" target="_blank">
							<button
								class="w-[70vw] lg:w-[36vw] py-2 opacity-0 group-hover:bg-sky-600 group-hover:opacity-100"
								>点击领取</button
							>
						</a>
					</div>
				</div>
			</div>

			<div
				class="columns-1 w-9/12 rounded-[92px] mx-auto shadow-xl p-6 sm:py-12 lg:columns-2"
			>
				<div class="relative rounded-2xl group h-96 overflow-hidden">
					<div
						class="opacity-150 absolute min-h-80 w-screen blur duration-1000 [transform:rotate3d(1_,-1,_1,_30deg)] group-hover:w-screen group-hover:bg-cyan-200 group-hover:blur-none group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]"
					>
					</div>
					<div
						class="absolute flex min-h-80 flex-col gap-4 p-8 duration-1000 [transform:rotate3d(1_,-1,_1,_30deg)] group-hover:w-96 group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]"
					>
						<span class="text-2xl font-extrabold text-red-800"
							>内部套餐卡</span
						>
						<div class="text-base font-semibold leading-7">
							<p class="text-gray-900">可通话可短信</p>
							<p class="text-gray-900">
								移动、联通、电信、广电全覆盖
							</p>
							<p class="text-gray-900">长期套餐、大流量包</p>
							<p class="text-gray-900">更多互联网卡</p>
							<div class="divide-x-2 divide-y divide-dashed">
								<div></div>
							</div>
						</div>
					</div>
					<div class="absolute top-80">
						<a href="http://lh.liuketh.cn" target="_blank">
							<button
								class="w-[70vw] lg:w-[36vw] py-2 opacity-0 group-hover:bg-sky-600 group-hover:opacity-100"
								>点击领取</button
							>
						</a>
					</div>
				</div>
				<div>
					<Image
						src={neibu}
						alt=""
						width={400}
						height={200}
						class="rounded-br-3xl rounded-tl-3xl mx-auto"
					/>
				</div>
			</div>

			<div
				class="columns-1 w-9/12 rounded-[92px] mx-auto shadow-xl p-6 sm:py-12 lg:columns-2"
			>
				<div>
					<Image
						src={yl}
						alt="银联聚合支付"
						width={400}
						height={200}
						class="rounded-br-3xl rounded-tl-3xl mx-auto"
					/>
				</div>
				<div class="relative rounded-2xl group h-96 overflow-hidden">
					<div
						class="opacity-150 absolute min-h-80 w-screen blur duration-1000 [transform:rotate3d(1_,-1,_1,_30deg)] group-hover:w-screen group-hover:bg-cyan-200 group-hover:blur-none group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]"
					>
					</div>
					<div
						class="absolute flex min-h-80 flex-col gap-4 p-8 duration-1000 [transform:rotate3d(1_,-1,_1,_30deg)] group-hover:w-96 group-hover:[transform:rotate3d(1_,-1,_1,_0deg)]"
					>
						<span class="text-2xl font-extrabold text-red-800"
							>聚合支付</span
						>
						<div class="text-base font-semibold leading-7">
							<p class="text-gray-900">支付宝支付</p>
							<p class="text-gray-900">微信支付</p>
							<p class="text-gray-900">银行卡支付</p>
							<p class="text-gray-900">信用卡支付</p>
							<p class="text-gray-900">一码通用支付</p>
						</div>
					</div>
					<div class="absolute top-80">
						<a href="http://lh.liuketh.cn" target="_blank">
							<button
								class="w-[70vw] lg:w-[36vw] py-2 opacity-0 group-hover:bg-sky-600 group-hover:opacity-100"
								>点击领取</button
							>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section>
			<!-- Container -->
			<div class="mx-auto max-w-7xl px-5 py-10 md:px-10 md:py-10">
				<!-- Heading Container -->
				<!-- Prices -->
				<div
					class="grid grid-cols-1 gap-16 sm:grid-cols-2 md:grid-cols-3 md:gap-4"
				>
					<!-- Price 1 -->
					<div
						class="mx-auto w-full max-w-md border-solid border-2 shadow-lg"
					>
						<!-- Price 1 Card -->

						<div class="relative rounded-md p-10">
							<div
								class="mb-4 w-fit rounded-[4px] bg-black px-4 py-1.5"
							>
								<p class="text-sm font-bold text-white">免费</p>
							</div>
							<h2
								class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8"
							>
								¥0<span class="text-sm font-light">/年</span>
							</h2>
							<p
								class="text-body mb-5 font-light text-[#626263] md:mb-6 lg:mb-8"
							>
								基础用户，每人可以免费领取一张流量卡
							</p>
							<a
								href="http://tc.liuketh.cn"
								target="_blank"
								class="inline-block w-full rounded-md bg-blue-400 px-6 py-3 text-center font-semibold text-white"
								>Get started
								<Image
									src={flowcarddragon}
									width={350}
									height={300}
									alt="流量卡"
									class="absolute inset-0 mx-5 opacity-0 transition duration-500 hover:opacity-100"
								/>
							</a>
						</div>
						<!-- Price 1 Descriptions -->
						<div class="p-5 space-y-4">
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>流量卡一张
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>支持4G
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>套餐种类丰富
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black">
										流量通用自助激活
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>24h人工客服在线
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<!-- <svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg> -->
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-gary"
										>顺丰包邮到家
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<!-- <svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg> -->
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-gary"
										>支持5G
									</span>
								</span>
							</div>
						</div>
					</div>
					<!-- Price 2 -->
					<div class="mx-auto w-full max-w-md border-solid border-2 shadow-xl">
						<!-- Price 2 Card -->
						<div
							class="overflow-hidden rounded-md bg-[#f2f2f7] p-10 sm:w-full sm:flex-initial"
						>
							<div
								class="mb-4 flex flex-row gap-4 max-[991px]:flex-wrap"
							>
								<div
									class="rounded-[4px] bg-[#1e1e1e] px-4 py-1.5"
								>
									<p class="text-sm font-bold text-white">
										VIP客户
									</p>
								</div>
								<div
									class="flex items-center gap-1.5 rounded-[4px] bg-white px-4 py-1.5"
								>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="18"
										height="18"
										viewBox="0 0 24 24"
									>
										<path
											d="M21 22h-18v-4h18v4zm-2.266-12.906c-3.749 2.293-5.296-2.125-6.734-7.094-1.433 4.951-2.984 9.388-6.734 7.094-1.305-.798-5.266-4.094-5.266-4.094 1.796 3.797 2.75 6.292 3 11h18c.25-4.708 1.203-7.203 3-11 0 0-3.961 3.296-5.266 4.094z"
										></path>
									</svg>
									<p
										class="text-sm font-bold text-black sm:text-sm"
									>
										最多选择
									</p>
								</div>
							</div>
							<h2
								class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8"
							>
								¥29<span class="text-sm font-light">/年</span>
							</h2>
							<p
								class="text-body mb-5 font-light text-[#636262] md:mb-6 lg:mb-8"
							>
								年费用户，每年可根据用户需求进行定制
							</p>
							<a
								href="https://work.weixin.qq.com/gm/a6484050538dc4716d3a98758f8e30ab"
								target="_blank"
								class="inline-block w-full rounded-md bg-blue-600 px-6 py-3 text-center font-semibold text-white"
								>Get started</a
							>
						</div>
						<!-- Price 2 Descriptions -->
						<div class="p-5 space-y-4">
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>流量卡3张
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>内部套餐卡不限
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>套餐种类丰富
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>支持4G、5G
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>一年内免费换卡
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>24h人工客服在线
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>云闪付支付免费开通
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>话费9折充值
									</span>
								</span>
							</div>
						</div>
					</div>
					<!-- Price 3 -->
					<div class="mx-auto w-full max-w-md border-solid border-2 shadow-lg">
						<!-- Price 3 Card -->
						<div class="rounded-md p-10">
							<div
								class="mb-4 w-fit rounded-[4px] bg-black px-4 py-1.5"
							>
								<p class="text-sm font-bold text-white">
									高级VIP用户
								</p>
							</div>
							<h2
								class="mb-5 text-3xl font-bold md:mb-6 md:text-5xl lg:mb-8"
							>
								¥99<span class="text-sm font-light">/年</span>
							</h2>
							<p
								class="text-body mb-5 font-light text-[#636262] md:mb-6 lg:mb-8"
							>
								年费用户，所有产品都可以体验
							</p>
							<a
								href="#"
								class="inline-block w-full rounded-md bg-blue-400 px-6 py-3 text-center font-semibold text-white"
								>Get started</a
							>
						</div>
						<!-- Price 3 Descriptions -->
						<div class="p-5 space-y-4">
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>流量卡5张
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>内部套餐卡不限
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>随声Wifi一台
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>手机靓号一个
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>三年免费换卡
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>高级靓号定制
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>云路由7折
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>24h人工客服在线
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>云闪付支付免费开通
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>话费89折充值
									</span>
								</span>
							</div>
							<div class="flex mx-10 sm:mx-1">
								<span class="-mt-3 w-16">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="22"
										height="32"
										viewBox="0 0 24 8"
									>
										<path
											d="M0 12.116l2.053-1.897c2.401 1.162 3.924 2.045 6.622 3.969 5.073-5.757 8.426-8.678 14.657-12.555l.668 1.536c-5.139 4.484-8.902 9.479-14.321 19.198-3.343-3.936-5.574-6.446-9.679-10.251z"
										></path>
									</svg>
								</span>
								<span class="text-body text-[#636262]">
									<span class="font-bold text-black"
										>粉丝购物优惠福利
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<!-- Container -->
			<div class="mx-auto w-full max-w-7xl px-5 my-9 md:px-10 md:py-2">
				<!-- Title -->
				<h2 class="text-center text-3xl font-bold py-5 md:text-5xl">
					我们产生的真实数据
				</h2>
				<p
					class="mx-auto mb-8 mt-4 max-w-lg items-center text-center text-sm text-[#636262] sm:text-base md:mb-12 lg:mb-16"
				>
					致力服务每一个客户，成交只是服务的开始，我们希望您可以一直使用我们的最新产品，当然不管是什么产品！
				</p>
				<!-- Content -->
				<div
					class="mx-auto flex w-full max-w-6xl flex-col flex-wrap justify-between gap-11 px-10 py-10 sm:flex-row md:gap-6"
				>
					<div
						class="flex flex-col items-center justify-center gap-8"
					>
						<p class="text-sm">产品数</p>
						<h2 class="text-3xl font-bold md:text-6xl">20+</h2>
					</div>
					<div
						class="flex flex-col items-center justify-center gap-8"
					>
						<p class="text-sm">服务售后</p>
						<h2 class="text-3xl font-bold md:text-6xl">890+</h2>
					</div>
					<div
						class="flex flex-col items-center justify-center gap-8"
					>
						<p class="text-sm">用户</p>
						<h2 class="text-3xl font-bold md:text-6xl">3500+</h2>
					</div>
					<div
						class="flex flex-col items-center justify-center gap-8"
					>
						<p class="text-sm">覆盖面</p>
						<h2 class="text-3xl font-bold md:text-6xl">全网</h2>
					</div>
				</div>
			</div>
		</section>

		<!-- Section Testimonial -->
		<section>
			<!-- Container -->
			<div
				class="mx-auto w-full max-w-7xl px-5 py-8 md:px-10 md:py-4 lg:py-8"
			>
				<!-- Title -->
				<h2
					class="m-10 text-center text-3xl font-bold md:mb-14 md:text-5xl"
				>
					全网客户的真实声音
				</h2>
				<!-- Testimonial List -->
				<ul
					class="mb-6 grid gap-5 sm:grid-cols-2 md:mb-16 md:grid-cols-3"
				>
					<li
						class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
					>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
						</div>
						<p class="text-[#647084]">
							我从上学的时候也就17年买的卡，之后一直在使用他们家的产品，经常给我身边的朋友推荐[流客科技]。
							从上学到上班, 这便是最深情的告白"
						</p>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb67bf1bca198e298c35_Ellipse%205-2.png"
								alt=""
								class="mr-4 h-16 w-16"
							/>
							<div class="flex flex-col">
								<h6 class="font-bold">Laila Bahar</h6>
								<p class="text-sm text-[#636262]">Designer</p>
							</div>
						</div>
					</li>
					<li
						class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
					>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
						</div>
						<p class="text-[#647084]">
							售后服务很好，有问题积极处理，而且卡的网速也是快的飞起，如果网速不行，可以找客户给你调换，使用起来完全无顾虑
						</p>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb5e3ea08ab4c244194a_Ellipse%205-4.png"
								alt=""
								class="mr-4 h-16 w-16"
							/>
							<div class="flex flex-col">
								<h6 class="font-bold">Laila Bahar</h6>
								<p class="text-sm text-[#636262]">Designer</p>
							</div>
						</div>
					</li>
					<li
						class="grid gap-8 border border-solid border-[#dfdfdf] bg-white p-8 md:p-10"
					>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6357722e2a5f195bcf37f880_Vector.svg"
								alt=""
								class="mr-1.5 w-4"
							/>
						</div>
						<p class="text-[#647084]">
							不是宝藏，胜似宝藏，能找到一个长期更新各种卡，而且不跑路的老板太难了，我已经用户有4年了，希望老板越来越强，生意越来越好
						</p>
						<div class="flex">
							<img
								src="https://assets.website-files.com/6357722e2a5f19121d37f84d/6358cb614a296368b383467c_Ellipse%205-3.png"
								alt=""
								class="mr-4 h-16 w-16"
							/>
							<div class="flex flex-col">
								<h6 class="text-base font-bold">Laila Bahar</h6>
								<p class="text-sm text-[#636262]">Designer</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</main>
</Layout>
