---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BaseLayout.astro";
import MDLayout from '../../layouts/MD.astro'
import { Image } from "astro:assets";
import MDContent from "../../components/MDContent.astro";
import RelatedPosts from "../../components/RelatedPosts.astro";
// 1. 为每个集合条目生成一个新路径
export async function getStaticPaths() {
    const blogEntries = await getCollection("news");
    return blogEntries.map((entry) => ({
        params: { 
            slug: entry.slug,
         },
        props: { entry },
    }));
}


// 2. 当渲染的时候，你可以直接从属性中得到条目
const { entry } = Astro.props;
const { slug } = Astro.params;
const { Content } = await entry.render();
const allPosts = await getCollection("news");

const blogEntries = await getCollection("news");
---

<Layout pageTitle={entry.data.title} desc={entry.data.description}>
    <div>
        <MDLayout frontmatter={entry.data}>
            <MDContent class="rounded-xl">
                <Content />
            </MDContent>
        </MDLayout>
        
        <RelatedPosts 
            posts={allPosts}
            currentSlug={slug}
            basePath="news"
        />
    </div>
</Layout>
