---
import { Image } from "astro:assets";

const { path, page } = Astro.props;

---

<div class="grid gap-5 p-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  {page.data?.map((item: any) => (
    <div class="flex flex-col bg-white shadow-lg rounded-xl overflow-hidden hover:scale-105">
    
      <img
        src={item.data.image.url}
        alt={item.data.image.alt}
        width={100}
        height={100}
        class="w-full object-cover h-48" // 设置图片宽度为100%，高度固定或自适应
      />
      <div class="p-5">
        <a
          class="text-lg font-bold text-blue-600 hover:underline" // 使用text-lg来适应不同屏幕大小的标题
          href={`${path}${item.slug}`}
        >
          {item.data.title}
        </a>
        <div class="text-sm mt-2">
          <p>{item.data.description}</p>
          <div class="flex flex-wrap gap-2 mt-2">
            {item.data.tags.map((tag: any) => (
              <span class="bg-sky-300 py-1 px-2 rounded-xl text-xs">{tag}</span> // 使用text-xs来适应小屏幕尺寸
            ))}
          </div>
          <p class="mt-2">{item.data.pubDate}</p>
        </div>
      </div>
    </div>
  ))}
</div>
{
  page?.url && <nav class="text-center p-5 bg-slate-200 rounded-lg">
  {
    page?.url?.next ? (
    <div class="flex justify-around">
      <a href={page?.url?.prev}><?xml version="1.0" encoding="UTF-8"?><svg width="47" height="47" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="6" y="6" width="36" height="36" rx="3" fill="#2F88FF" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M29 34L19 24L29 14" stroke="#FFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
      <span class="bg-[#2F88FF] w-20 rounded-lg text-center my-auto font-semibold">{page.currentPage}</span>
      <a href={page.url.next}><?xml version="1.0" encoding="UTF-8"?><svg width="47" height="47" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="6" y="6" width="36" height="36" rx="3" fill="#2F88FF" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M19 14L29 24L19 34" stroke="#FFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
    </div>
  ) : (
  <div class="flex justify-around">
      <a href={page?.url?.prev}><?xml version="1.0" encoding="UTF-8"?><svg width="47" height="47" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="6" y="6" width="36" height="36" rx="3" fill="#2F88FF" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M29 34L19 24L29 14" stroke="#FFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
      <span class="bg-[#2F88FF] w-20 rounded-lg text-center my-auto font-semibold">{page.currentPage}</span>
      <a href={page.url.next}></a>
    </div>
  )
  }
</nav>
}


