---
import { Image } from "astro:assets";
const { list, path } = Astro.props;
---

<div class="grid gap-5 p-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  {list?.map((item: any) => (
    <div class="flex flex-col bg-white shadow-lg rounded-xl overflow-hidden">
      <img
        src={item.data.image.url}
        alt={item.data.image.alt}
        class="w-full object-cover h-48" // 设置图片宽度为100%，高度固定或自适应
      />
      <div class="p-5">
        <a
          class="text-lg font-bold text-blue-600 hover:underline" // 使用text-lg来适应不同屏幕大小的标题
          href={`${path}${item.slug}`}
        >
          {item.data.title}
        </a>
        <div class="text-sm mt-2">
          <p>{item.data.description}</p>
          <div class="flex flex-wrap gap-2 mt-2">
            {item.data.tags.map((tag: any) => (
              <span class="bg-sky-300 py-1 px-2 rounded-xl text-xs">{tag}</span> // 使用text-xs来适应小屏幕尺寸
            ))}
          </div>
          <p class="mt-2">{item.data.pubDate}</p>
        </div>
      </div>
    </div>
  ))}
</div>

