---
import { Image } from "astro:assets";
const { list,path } = Astro.props;
---

<div>
  {
    list?.map((item: any) => (
      <div class="m-1 h-60 flex sm:m-10 p-1 border-2 border-sky-500 rounded-xl ">
        <Image
          src={item.data.image.url}
          alt={item.data.image.alt}
          width="300"
          height="150"
          class="rounded-xl w-[40vw] sm:w-[25vw] md:w-[30vw] lg:w-[40vw] xl:w-[25vw]"
        />
        <div class="grid p-5">
          <a class="sm:text-xl font-weight underline text-blue-600" href={`${path}${item.slug}`}>
            {item.data.title}
          </a>
          <div class="text-sm" >
            <p>{item.data.description}</p>
          <div class="space-x-5 flex flex-wrap">
            {item.data.tags.map((item: any) => (
              <span class="bg-sky-300 p-1 rounded-xl">{item}</span>
            ))}
          </div>
          <p>{item.data.pubDate}</p>  
          </div>
        </div>
      </div>
    ))
  }
</div>
