---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from 'astro:transitions';
import "../styles/global.css";
const { pageTitle } = Astro.props;

const makeTitle = pageTitle
	? pageTitle + " | " + "流客科技"
	: "流客科技-万网之流来者皆客";

const url = new URL(Astro.url.pathname, Astro.site).toString();
---

<html lang="zh-cn">

	<head>
		<meta charSet"utf-8" />
		<meta name="google-adsense-account" content="ca-pub-8701466885719364">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{makeTitle}</title>
		<meta
			name="keywords"
			content="流客科技,流量卡官网,流量卡,京东优惠券群"
		/>
		<meta
			name="description"
			content="流客科技流量卡官网，提供IOT全面服务,包括通信领域,物联网领域,流量卡领域,可进行手机卡开通,靓号办理,155555、1555522、1555533、1314520手机靓号办理,全国手机话费9折充值,内部优惠套餐卡办理! "
		/>
		<meta
			property="og:title"
			content="流客科技-万网之流来者皆客"
		/>
		<meta property="og:url" content={url}>
		<meta
			property="og:site_name"
			content={makeTitle}
		/>
		<!-- <meta property="og:image" content="https://astro.build/og/astro.jpg"> -->
		<meta
			property="og:description"
			content="流客科技流量卡官网，提供IOT全面服务,包括通信领域,物联网领域,流量卡领域,可进行手机卡开通,靓号办理,155555、1555522、1555533、1314520手机靓号办理,全国手机话费9折充值,内部优惠套餐卡办理! "
		/>
		<ClientRouter />
	</head>
	<body>
		<Header />
		{Astro.url.pathname !=='/' &&  <div class="m-2 md:p-5 md:ml-24">
			<a href="/" class=" underline text-blue-700 " target="_parent">首页</a>{` ⯈  `}{pageTitle}
		</div>}
		
		<main class="p-2 md:p-12">
			<slot />
		</main>
		<Footer />
	</body>
</html>
