---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
import { fade } from 'astro:transitions';
---

<Layout>
    <div class="mx-10 bg-slate-200" transition:animate={fade({ duration: '2s' })}>
        <h1 class="m-2 text-2xl font-bold">{frontmatter.title}</h1>
        <div class="m-2">
            <p><em>{frontmatter.description}</em></p>
            <div class="flex justify-between">
                <span>作者: {frontmatter.author}</span>
                <span>更新日期：{frontmatter.pubDate.slice(0, 10)}</span>
            </div>
            <img
                src={frontmatter.image.url}
                width="100%"
                alt={frontmatter.image.alt}
            />
            <slot />
            <div class="tags">
                {
                    frontmatter.tags.map((tag: unknown) => (
                        <a class="tag" href={`/tags/${tag}`}>
                            {tag}
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>

<style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 3px;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>
