---
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
---

<article>
    <div class="bg-slate-200 p-3 w-full rounded-xl" transition:animate={fade({ duration: "2s" })}>
        <h1 class="m-2 text-2xl font-bold">{frontmatter.title}</h1>
        <div class="leading-snug grid w-full">
            <!-- <p><em>{frontmatter.description}</em></p> -->
            <div class="flex justify-between mt-5 font-semibold">
                <span>作者: {frontmatter.author}</span>
                <span>更新日期：{frontmatter.pubDate.slice(0, 10)}</span>
            </div>
            <Image
                src={frontmatter.image.url}
                width={880}
                height={300}
                class="my-5"
                alt={frontmatter.image.alt}
            />
            <slot />
            <div class="flex gap-5 my-5">
                {
                    frontmatter.tags.map((tag: unknown) => (
                        <a
                            class="p-1 bg-sky-300 rounded-2xl"
                            href={`/tags/${tag}`}
                        >
                            {tag}
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</article>
